{% extends 'base.html.twig' %}
{% block title %}XMR4.me{% endblock %}
{% block body %}
	<!-- start: content -->
	<div id="content">
		{% include '_top.html.twig' %}
		{{ render(controller('App\\Controller\\DefaultController::stats' )) }}
		{% include '_video.html.twig' %}
		<div class="col-md-12" style="padding:20px;">
			<div class="col-md-12 padding-0">
				<div class="col-md-12 padding-0">
					<div class="col-md-12">
						<div class="panel box-v4">
							<div class="panel-heading bg-white border-none">
								<h2 class="animated fadeInRight"><span class="icon-energy icons"></span> Setup Miner</h2>
							</div>
							<div class="panel-body padding-0">
								<div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
		                          <div class="alert alert-warning alert-raised alert-dismissible fade in" role="alert">
		                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		                            <strong>Warning!</strong> XMR4.me Doesn't work if <b>ADBlock</b> is activated.
		                          </div>
									<h5>Create your Monero Wallet (<a href="https://mymonero.com/#/" target="_blank">MyMonero</a>) & Go !</h5>
									<hr>
									{{ form_start(form) }}
									<div class="col-md-12">
										<div class="form-group">
											<p>Your Wallet Monero (XMR)</p>
											<div class="input-group animated fadeInRight">
												<span class="input-group-addon" id="basic-addon1"><span class="icon-wallet icons"></span></span>
												{{ form_errors(form.wallet) }}
												{{ form_widget(form.wallet) }}
											</div>
										</div>
										<div class="form-group">
											<p>Your Username or Email</p>
											<div class="input-group animated fadeInRight">
												<span class="input-group-addon" id="basic-addon1"><span class="icon-user icons"></span></span>
												{{ form_errors(form.username) }}
												{{ form_widget(form.username) }}
											</div>
										</div>
										
									</div>
									<div class="col-md-12">
										<div class="form-group form-animate-checkbox">
											<input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree" required="true">
											<label>Please agree to our policy</label>
										</div>
									</div>
									{{ form_end(form) }}
								</div>
							</div>
						</div>
					</div>
					{% include '_chart.html.twig' %}
					{{ render(controller('App\\Controller\\DefaultController::twitter' )) }}
				</div>
			</div>
		</div>
	</div>
	<!-- end: content -->
{% endblock %}